.idea
.DS_Store

#cs-api
/cs-api/.DS_Store
/cs-api/upload

#cs-web-chat
/cs-web-chat/.DS_Store
/cs-web-chat/dist
/cs-web-chat/node_modules
/cs-web-chat/.env
/cs-web-chat/.env.dev

#cs-web-cms
/cs-web-cms/.DS_Store
/cs-web-cms/dist
/cs-web-cms/node_modules
/cs-web-cms/.env
/cs-web-cms/.env.dev